// colors
$basic-white: #FFFFFF;
$basic-black: #000000;
$button-color: #A5C7F9;
$background: #C0DBD9;
$green: #8AD191;
$light-green: #B3F95A;
$background-block: #88B5BF;
$blue: #0D89B0;
$background-main: #7FAFF7;
